.LibraryPage {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 2fr; /* Divide the space into two parts, left column is 1/3 and right column is 2/3 */
    grid-template-rows: 1fr;
    background-color: var(--white);
    border-radius: 2vmin;
  }
  
  .LibraryPage aside {
    height: 100%; /* Ensure the aside takes the full height of the container */
    overflow-y: auto; /* Enable vertical scrolling if content overflows */
    background-color: var(--light-gray); /* Optional: Add background color to the left column */
  }
  
  .LibraryPage main {
    height: 100%; /* Ensure the main section takes the full height of the container */
    overflow-y: auto; /* Enable vertical scrolling if content overflows */
  }