.LibraryListSound {
  width: 100%;
  max-height: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1vmin;
  padding: .5vmin;
  color: var(--text-light);
  background-color: var(--white);
  border: .1vmin solid var(--tan-3);
  border-radius: 1vmin;
  font-size: 2vmin;
}

.LibraryListSound .play span:first-child {
  color: var(--tan-1);
  background-color: var(--blue);
  font-size: 3vmin;
  font-weight: bold;
  padding-left: .1vmin;
  padding-right: .1vmin;
  border-radius: 3px;
}

.LibraryListSound .play span:last-child {
  background-color: var(--borange);
  color: var(--tan-1);
  border-radius: 3px;
  font-size: 3vmin;
}

.LibraryListSound .title {
  font-size: 2.5vmin;
  text-align: center;
  color: var(--text-light);
}

.LibraryListSound .play:hover{
  cursor: pointer;
}