.LibraryListSound {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1vmin;
  padding: .5vmin;
  color: var(--text-light);
  background-color: var(--white);
  border: .1vmin solid var(--tan-3);
  border-radius: 1vmin;
  font-size: 2vmin;
}

.LibraryListSound .play span:first-child {
  color: var(--white);
  font-size: 6vmin;
}

.LibraryListSound .play span:last-child {
  background-color: var(--purple);
  color: var(--white);
  border-radius: 10px;
  font-size: 6vmin;
}

.LibraryListSound .title {
  font-size: 2.5vmin;
  text-align: center;
  color: var(--text-light);
}

.LibraryListSound .play:hover{
  cursor: pointer;
}