:root {
	--white: #FFFFFF;
	--tan-1: #E4DCC7;
	--tan-2: #E1CB94;
	--tan-3: #71645E;
	--tan-4: #B9AA85;
	--blue: #3890C3;
	--borange: #D46731;
	--red: #f03f2f;
	--text-light: #746874;
	--text-dark: #16121B;
  }
  
  *, *:before, *:after {
	box-sizing: border-box;
  }
  
  body {
	background-color: #FAFBEE;
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
	'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
	sans-serif; /* Default font family */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	padding: 2vmin;
	height: 100vh;
  }
    
  
  code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
	  monospace;
  }

  
  .scroll-y {
	overflow-y: scroll;
  }
  
  .section-heading {
	display: flex;
	justify-content: space-around;
	align-items: center;
	background-color: var(--tan-1);
	color: var(--text-dark);
	border: .1vmin solid var(--tan-3);
	border-radius: 1vmin;
	padding: .6vmin;
	text-align: center;
	font-size: 2vmin;
  }
  
  .form-container {
	padding: 3vmin;
	background-color: var(--tan-1);
	border: .1vmin solid var(--tan-3);
	border-radius: 1vmin;
	width: 70vw;
  }
  
  span.error-message {
	color: var(--borange);
	text-align: center;
	display: block;
  }

  span.sign-log {
	padding: 1vmin;
	font-size: 2vmin;
	border: .1vmin solid var(--tan-3);
	border-radius: .5vmin;
	color: var(--text-dark);
  }
  
  nav {
	display: flex;
	align-items: center;
	justify-content: center; 
	border-bottom: 2px solid var(--tan-3);
	scale: 120%
  }

  nav a {
    padding: 0.2rem 0.5rem;
    font-size: 1rem;
	max-height: 1.5rem;
    overflow: hidden;
}


  nav .nav-logo {
	padding-right: .7rem;
  }

  .active-link {
	background-color: var(--tan-2);
	color: var(--text-dark);
	border: 1px solid var(--tan-4);
	border-radius: 0.2rem;
	text-decoration: none;
  }

.inactive-link {
	background-color: var(--tan-1);
	color: var(--text-dark);
	border: 1px solid var(--tan-4);
	border-radius: 0.2rem;
	text-decoration: none;
  }
  
  .inactive-link:hover {
	background-color: var(--tan-3);
  }
  

  form {
	display: grid;
	grid-template-columns: 1fr 3fr;
	gap: 1.25vmin;
	color: var(--text-light);
  }
  
  label {
	font-size: 2vmin;
	display: flex;
	align-items: center;
  }
  
  input {
	padding: 1vmin;
	font-size: 2vmin;
	border: .1vmin solid var(--tan-3);
	border-radius: .5vmin;
	color: var(--text-dark);
	background-image: none !important; /* prevent lastpass */
	outline: none;
  }
  
  input:focus {
	border-color: var(--borange);
  }
  
  button, a.button {
	margin: 1vmin;
	padding: 1vmin;
	color: var(--white);
	background-color: var(--borange);
	font-size: 2vmin;
	font-weight: bold;
	text-decoration: none;
	text-align: center;
	border: .1vmin solid var(--tan-4);
	border-radius: .5vmin;
	outline: none;
	cursor: pointer;
  }
  
  button.btn-sm {
	font-size: 1.5vmin;
	padding: .6vmin .8vmin;
  }
  
  button.btn-xs {
	font-size: 1vmin;
	padding: .4vmin .5vmin;
  }
  
  button:disabled, form:invalid button[type="submit"] {
	cursor: not-allowed;
	background-color: var(--tan-3);
  }
  
  button[type="submit"] {
	grid-column: span 2;
	margin: 1vmin 0 0;
  }

.pad {
	border-radius: .5rem;
	width: 95%;
	height: 95%;
	display: flex;
	align-items: center;
	align-self: center;
	justify-content: center;
	cursor: pointer;
	transition: 0.3s;
}

.pad:hover {
	opacity: 0.7;
}

.pad:active,
.pad.playing {
	transform: scale(.95);
}

.pad .letter {
	color: #fff;
	font-size: 3rem;
}

.home-page {
	width: 95vw;
	height: 100vh;
	background-image: url('../public/MPC60skin.png');
	background-size: cover;
	background-position: center;
	
}

.page-container {
	position: relative;
	width: 100%;
	height: 100vh;
  }
  
  .background-container {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-image: url('../public/MPC60skin.png');
	background-size: cover;
	background-position: center;
	opacity: 0.4;
	z-index: -1;
  }
  
  .content-container {
	position: relative;
	z-index: 1;
  }
  
