.LayoutsPage form section {
    display: grid;
    gap: 0.3rem;
    grid-template-columns: repeat(4, auto);
    grid-auto-rows: 8rem; 
}

.LayoutsPage form section div {
    background-color: var(--purple);
    color: darkgrey;
    border-radius: .5rem;
    width: 8rem;
    height: 8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative; 
}

.LayoutsPage form section div.no-sound {
    background-color: var(--clrpurple);
}

.LayoutsPage form section div select {
    background-color: var(--clrpurple);
    width: 6rem;
    margin-top: 0.5rem;
}

.pad-letter {
    margin-bottom: 0.5rem;
    background-color: var(--gray);
    border-radius: 50%;
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    font-size: 14px;
    color: white;
    position: absolute; 
    top: 0; 
    right: 0; /* Align to the right */
}
