.layout-form {
    padding-top: 5vmin;
    margin: 0 auto; 
    display: flex;
    flex-direction: column;
    align-items: center; 
}

.LayoutsPage form section {
    display: grid;
    gap: 0.3rem;
    grid-template-columns: repeat(4, auto);
    grid-auto-rows: 9.6rem;
    justify-content: center; 
}


.LayoutsPage form section div {
    background-color: var(--tan-4);
    color: darkgrey;
    border-radius: .5rem;
    width: 9.6rem; 
    height: 9.6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
}

.LayoutsPage form section div select {
    background-color: var(--gray);
    width: 7.2rem; 
    margin-top: 0.5rem;
}

.pad-letter {
    margin-bottom: 0.5rem;
    background-color: var(--gray);
    border-radius: 50%;
    width: 3.6vw;
    height: 3.6vw; 
    text-align: center;
    line-height: 3.6vw; 
    color: white;
    position: absolute;
    top: 0;
    right: 0;
}
