.LibraryList {
  background-color: var(--tan-1);
  border: 1px solid var(--tan-3);
  border-radius: 1vmin;
  margin: 3vmin 0;
  padding: 3vmin;
  overflow-y: auto;
  width: 100%; 
  max-height: 80vh;
}